/**
 * Created by alex on 9/16/17.
 */
$fontstack: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans - serif;
$blue: #004ba8;
body {
  min-width: 960px;
  background: #fff;
}

.con {
  width: 60%;
  min-width: 960px;
  margin: 0 auto;
}

body, h1, h2, h3, h4, h5, h6, p, div, span, a, ul, li, table, th, td, tr {
  font-family: $fontstack;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 14px;
  line-height: 1.8em;
  text-indent: 28px;
  margin: 15px 0;
}
